body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.editorMain {
  background-color: #fafafa;
  height: 500px;
  width: 900px;
  position: relative;
}

.processNode {
  margin-top: 10px;
  margin-bottom: 10px;
}

.editorMainForm {
  float: left;
}

.parsedDisplay {
  float: left;
}

.invis {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;

  resize: none !important;
  padding: 5px !important;
  color: transparent !important;
  background: transparent !important;
  caret-color: black !important;
  border: 0px !important;

  font-size: 15pt !important;
  font-family: monospace !important;
  line-height: 20pt !important;
}  


.editorPre { 
  position: relative !important;
  margin: 0px !important;
  border: 0px !important;
  height: 100%;
  width: 100%;
  padding: 5px;


  text-align: left;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none !important; /* Standard */

  font-size: 15pt !important;
  font-family: monospace !important;
  line-height: 20pt !important;
}

.greenHighlight {
  background-color: #BEE2BC;
}

.yellowHighlight {
  background-color: #FFF7D7;
}

.lightYellowHighlight {
  background-color: #fcf9f0;
}

.blueHighlight {
  background-color: #d1e6fd;
}

.redHighlight {
  background-color: #fdd1d1;
  text-decoration: underline dotted red;

}



.main-col {
  color: black;
}

.title {
  background-color: #FFA552;
  color: black;
  height: 100vh;
}

.stepNode {
  text-align: left;
  border-left: 5px solid lightyellow;
  margin: 0px;
  padding-left: 5px;
}

.descriptionNode {
  text-align: left;
  border-left: 5px solid lightblue;
  margin: 0px;
  padding-left: 10px;
}


.left-align {
  text-align: left;
}